@import "./../Styles_global/_vars";

.search_container {
margin-top: 1em;
width: 460px;

.search_title {
font-family: @Typography_Montserrat;
font-style: normal;
font-weight: 600;
font-size:16px;
line-height: 22px;
}

.search_input {
width:100%;
}
}